body{
	background-color: grey;
	margin: 0 auto;

}
.square{
	width: 30%;
	background: red;
	padding-bottom: 30%;
	float: left;
	margin: 1.66%;
}
#container{
	margin: 0 auto;
	background:yellow;
	max-width:600px;
	max-height: 600px;
}
#head_container{
	text-align: center;
	background-color:orange;
	color:white;
	font-size: 50px;
	border: : none;
	margin: 0 auto;
}
#statusbar,#reset,#easy,#hard{
	text-align: center;
	background-color: black;
	border: none;
	color: white;
	font-size: 24px;



}
